* {
 text-decoration: none;
 list-style: none;
}

.red {
 color: red;
}

.underline {
 background: linear-gradient(transparent 50%, yellow 50%);
}

.top-contents ,.recommend ,.study ,.introduction ,.reason ,.movie-contents {
 width: 70%;
 margin: 0 auto 30px;
}

.top-content01 ,.top-content02 ,.top-content03  {
  padding: 50px 30px;
}

.top-content01 {
 background-image: url('file:///C:/Users/%E7%9B%B8%E9%A6%AC%E6%98%A5%E8%B2%B4/Desktop/Programing/html/Visual%20Studio%20Code/2.%E6%A1%88%E4%BB%B6/%E6%A1%88%E4%BB%B601/image/top-haikei.jpeg');
 background-size: cover;
}

.top-content01 h1 {
  font-size: 50px;
  text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px, #fff -2px -1px, rgba(0, 0, 0, .5) 3px 3px 3px;
}


.top-content01 h2 {
 color: blue;
 text-decoration: underline;
  text-align: center;
  font-size: 64px;
  margin: 50px 0;
  position: relative;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
  text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px, #fff -2px -1px, rgba(0, 0, 0, .5) 3px 3px 3px;
}

.top-content01 h3 {
  text-align: center;
  font-size: 100px;
  margin: 140px 0 40px;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
  padding: 1rem 2rem;
  color: #fff;
  background: #000;
}

.top-content01 h3 span {
  background-image: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-content02 {
  background: #f4f4f4;
}

.top-content02 p {
 margin-bottom: 30px;
 font-size: 20px;
 line-height: 50px;
}

.top-content02 span {
 font-size: 30px;
}

.top-content03 p {
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 130px;
  border: 2px solid #000099;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 36px;
}

.top-content03 p:before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 200px;
  height: 300%;
  content: '';
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: #000099;
}

.top-content03 span {
  font-size: 40px;
  font-size: 4rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  padding-top: 3px;
  padding-left: 16px;
  color: #fff;
}

.contents-head {
 color: white;
 background-color: blue;
 text-align: center;
 font-size: 34px;
 letter-spacing: 8px;
 padding: 30px 0;
 position: relative;
}

.contents-head::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: blue transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}

.recommend {
  background-color: #FFFFEE;
}

.recommend-content {
 margin: 0 auto;
 font-size: 24px;
 width: 70%;
 padding: 50px 0;
}

.fa-check-square {
 color: aqua;
 padding-right: 20px;
}

.recommend-content li {
 padding-bottom: 20px;
}

.recommend img {
 width: 100%;
}

.study-content {
 padding: 50px 0;
 background-color: #EEEEEE;
}

.study-content h1 {
  margin-top: 30px;
  width: 70%;
  position: relative;
  display: inline-block;
  height: 32px;
  margin-left: 70px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: 	#000099;
  font-size: 32px;
}

.study-content h1:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #000099 transparent transparent;
}

.study-content h1:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}


.introduction-contents {
 padding: 50px 30px;
 display: flex;
 border: 5px solid black;
}

.introduction-contents img {
 border-radius: 50%;
 width: 20%;
 height: 20%;
 margin-right: 80px;
}

.introduction-content {
 width: 70%;
}

.introduction-content h1 {
 text-align: center;
 width: 10%;
 color: white;
 background-color: blue;
 padding: 10px 20px;
 border-radius: 50px;
 margin-bottom: 20px;
}

.introduction-content ruby {
 display: inline-block;
 font-size: 32px;
 margin-bottom: 20px;
}

.introduction-content p {
 font-size: 18px;
 padding-bottom: 10px;
 line-height: 26px;
}

.reason img {
 width: 100%;
}

.seminer-contents {
 margin: 0 auto;
 width: 70%;
  background-image:linear-gradient(-45deg, #f9f8f7 25%, #ffffff 25%, #ffffff 50%, #f9f8f7  50%, #f9f8f7 75%, #ffffff 75%, #ffffff);
}

.contents-application {
 padding: 50px 30px;

}

.contents-application a {
 display: block;
 width: 80%;
 margin: 0 auto;
 padding: 20px 40px;
 margin-bottom: 30px;
 font-size: 36px;
 color: white;
 border-radius: 5px;
 font-style: italic;
  letter-spacing: .1em;
  text-shadow: -3px 2px 0 #000;
  transition: .3s;
}

.contents-application a:hover {
 opacity: .7;
}

.general {
  background-color: dodgerblue;
}

.special {
 background-color: darkgoldenrod;
}

.document {
 background-color: crimson;
}

.lecture-content {
 padding: 30px;
}

.lecture-content h1 {
 font-size: 24px;
 padding-bottom: 20px;
}

.lecture-content li {
 font-size: 18px;
 line-height: 28px;
}

.special-content {
 display: flex;
 align-items: center;
}

.special-content h1 {
 border-radius: 50%;
 background-color: blue;
 color: white;
 font-size: 20px;
 padding: 20px;
}

.special-content p {
 width: 80%;
 padding: 20px;
 line-height: 30px;
}
